*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background: #0D2329;
    font-family: 'Arial', sans-serif;
}

.header-page {
    display: flex;
    height: 8rem;
    flex-direction: row;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 auto;
    padding: 0.8rem;

}
ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
   
}

.logo {
    margin-left: 2rem;
    border-radius: 6rem;

}
.navigation{
    display:inline-flex;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar {
    list-style-type: none;
    display: flex;
    column-gap: 2rem;
}

.navbar a:hover{
    opacity: 0.50;
	transition: opacity .30s ease-in-out; 
}

.container {
    background-color: #ffffff; 
    max-width: 900px;
    height: 550px; 
    margin: 2rem auto; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    box-sizing: border-box; 
    text-align: center; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px; 
    box-sizing: border-box;
}

section div span{
    font-weight: bolder;
}


button {
    background-color: #0d2329;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #152f36; 
}

footer {
    text-align: center;
    padding: 20px;
    width: 100%; 
    position: fixed; 
    bottom: 0;  
    left: 0; 
    display: flex;  
    justify-content: center;  
    align-items: center;  
    color: #6c757d;
}
